aiohttp=3.7.4.post0
aiohttp-cors=0.7.0
aioredis=1.3.1
ansi2html=1.6.0
anyio=3.1.0
arctic=1.79.3
argon2-cffi=20.1.0
async-timeout=3.0.1
async_generator=1.10
atomicwrites=1.4.0
attrs=21.2.0
babel=2.9.1
backcall=0.2.0
backports=1.0
backports.functools_lru_cache=1.6.4
beautifulsoup4=4.9.3
blas=2.109
blas-devel=3.9.0
bleach=3.3.0
blessings=1.7
boto=2.49.0
boto3=1.17.93
botocore=1.20.93
brotli-python=1.0.9
brotlipy=0.7.0
bs4=4.9.3
bz2file=0.98
ca-certificates=2021.5.30
cachetools=4.2.2
catalogue=1.0.0
certifi=2021.5.30
cffi=1.14.5
chardet=4.0.0
click=7.1.2
cloudpickle=1.6.0
colorama=0.4.4
colorful=0.5.4
coverage=5.5
coveralls=3.1.0
cryptography=3.4.7
cymem=2.0.5
cython-blis=0.7.4
dash=1.20.0
dash-core-components=1.16.0
dash-html-components=1.1.3
dash-renderer=1.9.1
dash-table=4.11.3
dataclasses=0.8
decorator=5.0.9
defusedxml=0.7.1
dill=0.3.4
docopt=0.6.2
entrypoints=0.3
enum-compat=0.0.3
filelock=3.0.12
flask=2.0.1
flask-compress=1.10.1
future=0.18.2
git=2.30.2
google-api-core=1.26.3
google-auth=1.30.0
google-cloud-core=1.5.0
google-cloud-storage=1.19.0
google-crc32c=1.1.2
google-resumable-media=1.2.0
googleapis-common-protos=1.53.0
gpustat=0.6.0
grpcio=1.38.0
idna=2.10
importlib-metadata=4.5.0
iniconfig=1.1.1
intel-openmp=2021.2.0
ipykernel=5.5.5
ipython=7.24.1
ipython_genutils=0.2.0
itsdangerous=2.0.1
jedi=0.18.0
jinja2=3.0.1
jmespath=0.10.0
json5=0.9.5
jsonschema=3.2.0
jupyter-dash=0.4.0
jupyter_client=6.1.12
jupyter_core=4.7.1
jupyter_server=1.8.0
jupyterlab=3.0.16
jupyterlab_pygments=0.1.2
jupyterlab_server=2.6.0
libblas=3.9.0
libcblas=3.9.0
libcrc32c=1.1.1
liblapack=3.9.0
liblapacke=3.9.0
libprotobuf=3.17.2
libsodium=1.0.18
libuv=1.41.0
lz4=3.1.3
lz4-c=1.9.3
markupsafe=2.0.1
matplotlib-inline=0.1.2
mistune=0.8.4
mkl=2021.2.0
mkl-devel=2021.2.0
mkl-include=2021.2.0
mockextras=1.0.2
more-itertools=8.8.0
multidict=5.1.0
multiprocess=0.70.12.2
murmurhash=1.0.5
nbclassic=0.3.1
nbclient=0.5.3
nbconvert=6.0.7
nbformat=5.1.3
nest-asyncio=1.5.1
ninja=1.10.2
notebook=6.4.0
numpy=1.20.3
opencensus=0.7.13
opencensus-context=0.1.2
openssl=1.1.1k
packaging=20.9
pandas=1.0.3
pandoc=2.14.0.2
pandocfilters=1.4.2
parso=0.8.2
pathy=0.5.2
patsy=0.5.1
pickleshare=0.7.5
pillow=8.2.0
pip=21.1.2
plac=0.9.6
pluggy=0.13.1
preshed=3.0.5
prettytable=2.1.0
prometheus_client=0.11.0
prompt-toolkit=3.0.18
protobuf=3.17.2
psutil=5.8.0
py=1.10.0
py-spy=0.3.7
pyasn1=0.4.8
pyasn1-modules=0.2.7
pycparser=2.20
pydantic=1.8.2
pyglet=1.5.15
pygments=2.9.0
pymongo=3.11.4
pyopenssl=20.0.1
pyparsing=2.4.7
pyrsistent=0.17.3
pysocks=1.7.1
pytest=6.2.4
pytest-cov=2.12.1
python=3.8.10
python-dateutil=2.8.1
python_abi=3.8
pytz=2021.1
pyyaml=5.4.1
pyzmq=22.1.0
redis
requests=2.25.1
retrying=1.3.3
rsa=4.7.2
s3transfer=0.4.2
scipy=1.6.3
send2trash=1.5.0
setuptools=49.6.0
shellingham=1.4.0
six=1.16.0
smart_open=2.2.1
sniffio=1.2.0
soupsieve=2.0.1
spacy=2.3.7
spacy-legacy=3.0.5
sqlite=3.35.5
srsly=1.0.5
statsmodels=0.12.2
tabulate=0.8.9
tbb=2021.2.0
tenacity=7.0.0
tensorboardx=2.2
terminado=0.10.1
testpath=0.5.0
thinc=7.4.5
toml=0.10.2
tornado=6.1
tqdm=4.61.0
traitlets=5.0.5
typer=0.3.2
typing-extensions=3.10.0.0
typing_extensions=3.10.0.0
tzdata=2021a
tzlocal=2.1
urllib3=1.26.5
wasabi=0.8.2
wcwidth=0.2.5
webencodings=0.5.1
websocket-client=0.57.0
werkzeug=2.0.1
wheel=0.36.2
yaml=0.2.5
yarl=1.6.3
zeromq=4.3.4
zipp=3.4.1
zlib=1.2.11